<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant-food" />
    <link rel="icon" href="./restauran-logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>Restaurant Catalogue</title>
  </head>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip to Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton" aria-label="hamburger">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Restaurant Catalogue</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a class="home" href="#/">Home</a></li>
        <li><a class="favorites" href="#/like">Favorites</a></li>
        <li><a class="About-me" href="https://github.com/Tyrant2407" target="_blank" rel="noopener">About Me</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero_header">
    <picture>
      <!-- Gambar untuk lebar layar di bawah 600px -->
      <source media="(max-width: 600px)" srcset="./heros/hero-image_1-small.jpg">
      <source media="(min-width: 601px)" srcset="./heros/hero-image_2-large.jpg">
      <img class="hero_poster lazy" data-src="./heros/hero-image_2.jpg" alt="hero header image">
    </picture>
    <div class="hero_inner">
      <h1 class="hero_title">Mencari tempat makan enak dan murah?</h1>
      <p class="hero_tagline">
        Harga kaki lima, Rasa bintang lima!
      </p>
    </div>
  </div>


  <main id="mainContent" tabindex="0"></main>
  <footer-bar></ffooter-bar>
</body>
</html>
