/* Style untuk form review */
.form-review {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .form-review h4 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-here {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea.form-control {
    height: 120px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 22px;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  