* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

/*
    AppBar
  */

.app-bar {
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #db0000;
  text-transform: uppercase;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  min-width: 44px;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .app-bar__navigation ul li a {
    padding: 12px 16px;
  }
}

#hamburgerButton {
  padding: 10px 15px;
  font-size: 20px; 
  background-color: transparent; 
  border: none; 
  cursor: pointer;
}

.app-bar__brand {
  text-align: center;
}

.app-bar__brand h1 {
  margin: 0;
  font-size: 20px; 
}


/*
    Main Content
  */

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}


/*
    restaurants
  */

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}


/*
    restaurant Item
  */

.restaurant-list {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-list__header {
  position: relative;
}

.restaurant-list .restaurant-list__header .restaurant-list__header__poster {
  width: 100%;
  height: 200px; /* Tinggi gambar tetap */
  object-fit: cover; /* Memastikan gambar tetap proporsional dan terpotong */
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s;
}

.restaurant-list .restaurant-list__header .restaurant-list__header__rating {
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.restaurant-list .restaurant-list__header .restaurant-list__header__rating .restaurant-list__header__rating__score {
  margin-left: 10px;
}

.restaurant-list .restaurant-list__content {
  padding: 16px;
}

.restaurant-list .restaurant-list__content h3 {
  margin: 0 0 10px 0;
}

.restaurant-list .restaurant-list__content h3 a {
  color: #db0000;
  text-decoration: none;
}

.restaurant-list .restaurant-list__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}


/*
    restaurant
  */

.restaurant {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.restaurant .restaurant__poster {
  width: 100%;
}



/* 
    Detail
  */
.container-detail {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.resto__name {
  color: #333;
  margin-top: 0;
  font-size: 38px;
}

.resto__poster {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resto-tittle2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 37px;
}

.resto__info {
  margin-bottom: 50px;
}

.resto__info h2 {
  margin-top: 0;
}

.resto__info h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.resto__info p {
  margin: 5px 0;
}

.resto__menu {
  margin-bottom: 10px;
}

.resto__menu .card-menu {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
}

.resto__menu .card-menu p {
  margin: 5px 0;
}

.resto__review {
  margin-bottom: 20px;
}

.resto__card {
  max-height: 300px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card-review {
  background-color: #f4eeee;
  border-radius: 8px;
  padding: 10px;
  max-width: 500px;
  overflow-x: auto;
  box-shadow: 0 1px 2px black;
}

.card-review p {
  margin: 5px 0;
}

/* like */

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/*
    Footer
  */

footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #db0000;
  text-decoration: none;
}